:root {
    --color-white: #FFFBFA;
    --color-black: #2d2e32;
}

.Intro {
    &-Container {
        max-width: 1024px;
        margin: 0 auto;
    }

    .Details {
        max-width: 34rem;

        h3 {
            font-size: 20px;
            font-weight: 500;
        }
    }

    &-TypeWriter {
        display: flex;
        column-gap: 10px;
        font-size: 50px;
        color: var(--color-black);
        font-weight: 600;
    }

    &-Main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block-start: 10rem;
        column-gap: 3rem;
    }

    &-Sub {
        color: #767676;
        font-size: 19px;
        line-height: 1.6;
    }

    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }

        50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }

        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
    }

    &-Image {
        animation: morph 8s ease-in-out infinite;
        background-image: url(../../images/p.png);
        background-position: 50%;
        background-size: 120%;
        background-repeat: no-repeat;
        border: 3px solid #2d2e32;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        transition: all 1s ease-in-out;
        aspect-ratio: 1;
        width: 300px;
        height: 300px;
        filter: drop-shadow(2px 4px 6px rgb(59, 59, 59));
    }

    &-Social {
        cursor: pointer;
        display: flex;
        gap: 1.3rem;

        .social-link {
            &--linkedin {
                color: #2d76b0;
            }

            &--github {
                color: #000;
            }

            & .social-svg {
                width: 2.8rem;
                height: 2.8rem;

                & .social-group {
                    &__icon {
                        fill: var(--color-black);
                        transition: all .2s;
                    }

                    &__inner-circle {
                        fill: transparent;
                        transition: all .2s;
                    }

                    &__outline {
                        stroke: var(--color-black);
                        transform-origin: 50% 50%;
                        transition: all .2s;
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    & .social-group {
                        &__icon {
                            fill: var(--color-white);
                            transition: all .45s;
                        }

                        &__inner-circle {
                            fill: currentColor;
                            transition: all .45s;
                        }

                        &__outline {
                            stroke: currentColor;
                            transform: scale(1.1);
                            transition: all .45s;
                        }
                    }
                }
            }
        }
    }
}